.account-btn {
    font-size: 16px;
    cursor: pointer;
    font-family: "Proxima", Arial, Helvetica, sans-serif;
    padding: 13px 25px;
    border: 1px solid #51af33;
    margin: 0px 0px 20px;
    color: #51af33;
    transition: 0.2s;
    border-radius: 4px;
}

.account-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f9fafb;
}

.account-container * {
    background-color: white;
}

.account-container > div {
    
    box-shadow: 0px 2px 2px 2px rgba(36, 42, 48, 0.15);

}

.account-info-container {
    align-items: center;
    width: 60%;
    display: flex;
    max-width: 700px;
    flex-direction: column;
    margin: 50px 0px;
    padding-bottom: 30px;
}

.header-edit {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    padding: 20px 20px 0px 20px;
    border-bottom: 2px solid #dce0e6;

}

// .header-edit > div {
//     // background-color: white;
// }


.account-info-list {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 20px;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
}

.account-btn:hover {
    background-color: #438e29;
    color: white;
    cursor: pointer;
}

.account-form {
    align-items: center;
    display: flex;
    max-width: 700px;
    width: 45%;
    min-width: 500px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 80%;
}

.account-form > div {
    width: 90%;
    font-size: 30px;
    padding: 20px;
    border-bottom: 2px solid #dce0e6;
    text-align: center;
}

.edit-box {
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 500px;
    width: 60%;
}

.edit {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #b1b9c3;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.edit-btn {
    margin-top:20px;
    max-width: 30%;
    min-width: 100px;
}

.edit-button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.success {
    margin-top: 5px;
    color: #51af33;
}