.footer {
    background: #6F7985;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-txt {
  color: #b1b9c3;
  font-size: 20px;
  padding-right: 20px;
}

.footer-link {
  display: flex;
  justify-content: center;
}

.git {
  background-image: image-url('github.png');
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.footer-break {
  padding: 10px;
  font-size: 30px;
}