// Place all the styles related to the api/masker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Masker-li {
    display: flex;
    background-color: white;
    margin-bottom: 16px;
    box-shadow: 0px 2px 2px 2px rgba(36, 42, 48, 0.15);
    padding: 22px;
    flex-direction: row;
}

.Masker-pic {
    height: 150px;
    width: 150px;
    display: block;
    box-shadow: none;
    overflow: hidden;
    background-size: cover;
    padding: 0px 15px;
    align-self: center;
}

.Masker-left {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.Masker-left > div {
    padding: 15px;
}

.Masker-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
}

.Masker-right-top {
    display: flex;
    justify-content: space-between;
    font-size: 17px
}

.Masker-right-top > div {
    font-size: 26px;
    font-weight: bold;
}

.Masker-right-bottom {
    display: flex;
    flex-direction: column;
}

.Masker-right-bottom > p {
    font-size: 20px;
    padding: 10px;
}

.Masker-about {
    font-weight: bold;
}