// Place all the styles related to the api/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session {
  background-image: image-url('P1000168_without_logo.jpg');
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.session-container-login, .session-container-signup, .session-container-splash {
    display: flexbox;
    background: white;
    width: 440px;
    padding: 24px 32px;
    font: 20px black;
    justify-content: center;
    top: 32px;
    position: absolute;
}

.logo {
      background-image: image-url('TaskRabbit_Logo_horizontal_lockup.png');
      background-size: 260px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: flex-start;
      width: 260px;
      height: 60px;
      background-repeat: no-repeat;

}

// .session-container-signup {
//     height: 685px;
// }

.session-container-splash button {
    color: red;
}