//headers are #545e69
// answers are #242a30

.form-nav {
    background-color: white;
    
    border-bottom: 1px solid #dce0e6;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
}

.form-nav-top {
    height: 76px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dce0e6;
    justify-content: center;
    align-items: stretch;
    // max-width: 1050px;
}

.form-nav-progress {
    // width: 89%;
    // height: 52px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    max-width: 1050px;
}

.form-message {
    height: 66px;
}

.form-nav-logo {
    background-image: image-url('rabbit.png');
    background-size: 70px;
    height: 70px;
    width: 70px;
    display: block;
    background-repeat: no-repeat;
}

.form-nav-step {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.form-nav-step > div {
    flex-grow: 1;
}

.form-nav-step-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-nav-num {
    background-color: #e8ebef;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    text-align: center;
    align-self: center;
    vertical-align: text-bottom;
}

.form-nav-empty {
    flex-grow: 1;
}

.form-nav-line {
    flex-grow: 1;
    height: 0px;
    border-bottom: 2px solid #dce0e6;
    align-self: center;
}

.form-nav-bottom {
    text-align: center;
    color: #67727e;
}

.form-nav-num span {
    top: 4.5px;
    position: relative;
    color: #242a30;
}

.form-bottom {
    color: #242a30;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #dce0e6;
}

.form-message {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-message-notebook {
  background-image: image-url('notebook.png');
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-message-shield {
  background-image: image-url('shield.svg');
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-message-clipboard {
  background-image: image-url('clipboard.svg');
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-nav-num.active {
    background-color: #51af33;
}

.form-nav-num.active span {
    color: white;
}
.form-nav-bottom.active {
    font-weight: bold;
}
.form-nav-line.active {
        border-bottom: 2px solid #51af33;

}
.form-nav-step.active {
    cursor: pointer;
}

.hide {
    display: none;
}