.task-index-container {
    width: 60%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.user-task-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.task-li-container {
    display: flex;
    padding-bottom: 50px;
    border: 1px solid #b1b9c3;
    min-width: 500px;
    max-width: 700px;
    width: 40.2%;
    flex-direction: column;
    font-size: 30px;
    padding: 16px;
    border-bottom: 2px solid #dce0e6;
    margin-bottom: 20px;
}

.task-li-container > div {
    font-size: 19px;
    display: flex;
    border-bottom: 2px solid #dce0e6;
    justify-content: space-between;
    padding: 20px;
    line-height: 1.6;
 
}

.header-tasks {
    width: 40.2%;
    max-width: 700px;
    min-width: 500px;
    flex-direction: column;
    font-size: 30px;
    padding: 16px;
    border-bottom: 2px solid #dce0e6;
}

.underline {
    text-decoration: underline;
}

.Masker-pic-task {
    height: 200px;
    width: 200px;
    display: block;
    box-shadow: none;
    background-size: cover;
    padding: 0px 15px;
    align-self: center;
}

.task-addresses {
    display: flex;
    flex-direction: column;

}

.task-masker {
    display: flex;
    flex-direction: row;
}

.task-masker-info {
    display: flex;
    flex-direction: column;
}

div.task-cancel {
    justify-content: center;
}

.none {
    margin: 20px;
}