// .logo-long {
//       background-image: image-url('logo.png');
//       background-size: 260px;
//       display: block;
//       margin-left: auto;
//       margin-right: auto;
//       justify-content: center;
//       align-items: flex-start;
//       width: 260px;
//       height: 60px;
//       background-repeat: no-repeat;
// }

.form-nav {
    background-color: white;
    
    border-bottom: 1px solid #dce0e6;
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

.form-top {
    height: 76px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dce0e6;
    justify-content: space-between;
}

.form-progress {
    width: 89%;
    height: 52px;
}

.form-message {
    height: 66px;
}

.form-logo {
    background-image: image-url('rabbit.png');
    background-size: 70px;
    height: 70px;
    width: 70px;
    display: block;
    background-repeat: no-repeat;
    
}