.form-container {
    padding-bottom: 85px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

.task-form-first {
    padding: 32px 18px 0px 18px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.task-form-first > div {
    background-color: white;
    width: 74%;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 2px 2px rgba(36,42,48,0.15);
    padding: 22px;
    max-width: 1000px;
}


.form-save-btn {
    font-size: 19px;
    cursor: pointer;
    font-family: "Proxima", Arial, Helvetica, sans-serif;
   
    padding: 9px 26px;
    background-color: #51af33;
    border: 1px solid #51af33;
    color: white;
    transition: 0.2s;
    border-radius: 4px;
}

.form-interest {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;

}

.form-interest > div {
    margin-bottom: 10px;
    margin-top: 10px;
}

.task-form-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        font-size: 15px;

}


// .form-box > .btn {
//     margin-top: 10px;
//     background-color: #51af33;
//     color: white;
// }

.form-save-btn:hover {
    background-color: #438e29;
    
}

.form-header {
    font-size: 15px;
}

.form-interest-radio {
    font-size: 15px;
}

.form-question {
    font-weight: bold;
    font-size: 19px;
}

.form-interest-radio > label{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.form-save {
    align-self: center;
    font-weight: bold;
    font-size: 19px;

}



.form-start {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-start > div {
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-end {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-end > div {
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-address {
    display: flex;
    flex-direction: row;

}
.address-bar {
    flex-grow: 8;
    border: 1px solid #b1b9c3;
    font-size: 15px;
    border-radius: 4px;
    margin-right: 20px;
    height: 24px;
}

.address-apt {
    flex-grow: 1;
        border: 1px solid #b1b9c3;
    font-size: 15px;
    border-radius: 4px;
    height: 24px;
}

.form-options {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-options > div {
    margin-top: 8px;
    margin-bottom: 8px;

}

.form-save {
    align-self: center;
}

.form-question-border {
        font-weight: bold;
    font-size: 19px;
    border-bottom: 1px solid #dce0e6;
    padding-bottom: 10px;
}

.form-length-radio div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-length-radio form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-length-radio > label {
    padding-bottom: 14px;
    padding-right: 50px;
        font-weight: bold;
        
}

.form-vehicle-radio {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-description {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form-description > div {
    margin-bottom: 25px;
}

.form-description-input {
    width: 100%;
    height: 200px;
    resize: none;
    padding: 10px;
    font-size: 15px;
}
.form-description-input-confirmation {
    height: 200px;
    resize: none;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 20px;
}








.task-form-second {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

// .task-form-second > div {
//     background-color: white;
//     // width: 74%;
//     margin-top: 8px;
//     margin-bottom: 8px;
//     box-shadow: 0px 2px 2px 2px rgba(36,42,48,0.15);
//     padding: 22px;
// }

.form-date {
    width:30%;
    min-width: 300px;
    // text-align: center;
//   background-image: image-url('mask_large.jpg');
//   padding: 10px;
  margin: 10px;
}

.form-date > div {
    // background-color: white;
    // width: 74%;
    // margin-top: 8px;
    // margin-bottom: 8px;
    // box-shadow: 0px 2px 2px 2px rgba(36,42,48,0.15);
    // padding: 22px;
    // max-width: 1000px;
        background-color: white;
    // width: 74%;
    // margin-top: 8px;
    margin-bottom: 16px;
    box-shadow: 0px 2px 2px 2px rgba(36,42,48,0.15);
    padding: 22px;
}

.form-masker {
    width: 60%;
    
    // min-width: 400px;
        // text-align: center;
//   background-image: image-url('mask_large.jpg');
//   padding: 10px;
  margin: 10px;
    // background-color: white;
    // width: 74%;
    // margin-top: 8px;
    // margin-bottom: 8px;
    // box-shadow: 0px 2px 2px 2px rgba(36,42,48,0.15);
    // padding: 22px;
}

.form-date-message {
    display: flex;
    height: 66px;
    align-items: center;
}

.form-message-check_shield {
 background-image: image-url('check_shield.svg');
    min-width: 32px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 18px;
    padding: 5px;
    margin-top: 10px;
}

.form-date-message-text {
    height: 70px;
    width: 250px;
    padding: 20px;
    margin-top: 10px;
}

.form-message-calendar {
 background-image: image-url('calendar_blue.png');
    width: 13px;
    height: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    padding: 10px;
}

.date-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-pick {
    display: flex;
    align-items: center;
}

.date-pick > div {
    font-weight: bold;

}

.date-picker {
        margin-left: 5px;
    padding-left: 22px;
    font-size: 14px;
}

.date-errors {
    padding-top: 10px;
}

.form-date-text {
    width: 45px;
    font-weight: bold;
}
.time-pick-text {
    // width: 45px;
    font-weight: bold;
}

.time-pick {
    display: flex;
    align-items: center;
}

.time-pick-select {
    margin-left: 10px;
    font-size: 14px;
}

.task-form-third {
    display: flex;
    flex-direction: row;  
}

.task-form-third > div {
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 2px 2px rgba(36,42,48,0.15);
    padding: 22px;
    margin: 22px;
}

.form-confirmation-details{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form-confirmation-info {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.form-confirmation-info * {
    padding:10px;
}

.form-confirmation-details * {
    font-size: 17px;
    line-height: 1.6;
}

.confirmation-text {
    padding: 20px 0px;
}

.confirmation-text.margin {
    border-top: 1.5px solid #dce0e6;
    width: 100%;
}

.maskser-name-confirmation {
    align-self: center;
}

.confirmation-masker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.confirmation-masker-pic {
    height: 60px;
    width: 60px;
    display: block;
    box-shadow: none;
    overflow: hidden;
    background-size: cover;
    padding: 0px 15px;
}

.confirmation-info-text {
    border-top: 1.5px solid #dce0e6;
    display: flex;
    flex-direction: column;
}

.confirmation-info-text * {
    padding-top:10px;
}

.confirmation-info-text-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.confirmation-info-text-left {
    width: 30%;
}

.confirmation-info-text-right {
    width: 70%;
    line-height: 1.6;
}

.confirmation-money-text {
    display: flex;
    flex-direction: column;
    border-top: 1.5px solid #dce0e6;

}

.confirmation-money-legal {
    display: flex;
    flex-direction: column;
}

.confirmation-money-legal * {
    padding: 15px 0px;
}

.confirmation-money {
    display: flex;
    justify-content: space-between;
}

.confirmation-money * {
    font-size: 21px;
    font-weight: bold;
}

.edit-task-button {
    color: #438e29;
}

.edit-task-button.hov {
    cursor: pointer;
}

.hide {
    display: none;
}

.form-errors {
    color: red;
}

.completed {
    color: #438e29;
}

.active {
    cursor: pointer;
}